@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right" style="margin-right: 0.5%">
			<li class="dropdown">
				<a href="~/Account/Login" class="dropdown-toggle" id="loginDropdown1" data-toggle="dropdown" data-hover="dropdown" data-delay="700">Accounts<b class="caret" style="font-size:14px"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="loginDropdown1">
					<li role="menuitem">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
					<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
				</ul>
			</li>
		</ul>

	}
}
else
{
	<ul class="nav navbar-nav navbar-right" style="margin-right: 0.5%">
		<li class="dropdown">
			<a href="~/Account/Login" class="dropdown-toggle" id="loginDropdown2" data-toggle="dropdown" data-hover="dropdown" data-delay="700">Accounts<b class="caret" style="font-size:14px"></b></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="loginDropdown2">
				<li role="menuitem">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
				<li role="menuitem">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
			</ul>
		</li>
	</ul>
	
}
