

<hr />
<hgroup class="title">
	<h1>@ViewBag.Message</h1>
</hgroup>
<hr />
<article>
	<p>
		TODO: Put together an "about" statement. Perhaps this should be merged with the Dept. Chair Blurb?
	</p>
</article>

@*<aside>
	<h3>Aside Title</h3>
	<p>
		Use this area to provide additional information.
	</p>
	<ul>
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("About", "About", "Home")</li>
		<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
	</ul>
</aside>*@