@{
	ViewBag.Title = "Oregon Tech CSET Dept. Contact:";
}

<hgroup class="title">
	<hr />
	<h1>@ViewBag.Title</h1>
</hgroup>
<hr />
<div class="row">
	<div class="col-md-4">
		<img style="height: 66%; width: 66%; padding-left: 3em;" src="~/Content/ProfileImage.jpg" />
	</div>
	<div class="col-md-6">
		<table border="0" cellpadding="6" cellspacing="0">
			<tr>
				<td align="right">CSET Department Chair:</td>
				<td><a href="mailto:calvin.caldwell@oit.edu" style="padding-left: 2em;">Calvin Caldwell</a></td>
			</tr>
			<tr>
				<td align="right">Software Contact:</td>
				<td><a href="mailto:randal.albert@oit.edu" style="padding-left: 2em;">Randy Albert</a></td>
			</tr>
			<tr>
				<td align="right">Hardware Contact:</td>
				<td><a href="mailto:ralph.carestia@oit.edu" style="padding-left: 2em;">Ralph Carestia</a></td>
			</tr>
			<tr>
				<td align="right">CSET Lab Manager:</td>
				<td><a href="mailto:troy.scevers@oit.edu" style="padding-left: 2em;">Troy Scevers</a></td>
			</tr>
			<tr>
				<td align="right">Placement Testing:</td>
				<td><a href="mailto:karlene.christensen@oit.edu?subject=PlacementTesting" style="padding-left: 2em;">Karlene Christensen</a></td>
			</tr>
			<tr>
				<td align="right">Registrar:</td>
				<td><a href="mailto:registrar@oit.edu" style="padding-left: 2em;">registrar@oit.edu</a></td>
			</tr>
			<tr>
				<td align="right">Admissions:</td>
				<td><a href="mailto:oit@oit.edu?subject=Admissions" style="padding-left: 2em;">oit@oit.edu</a></td>
			</tr>
			<tr>
				<td align="right">Career Services:</td>
				<td><a href="mailto:career@oit.edu" style="padding-left: 2em;">career@oit.edu</a></td>
			</tr>
			<tr>
				<td align="right">Financial Aid:</td>
				<td><a href="mailto:finaid@oit.edu" style="padding-left: 2em;">finaid@oit.edu</a></td>
			</tr>
			<tr>
				<td align="right">Web Site Contact:</td>
				<td><a href="mailto:troy.scevers@oit.edu" style="padding-left: 2em;">Troy Scevers</a></td>
			</tr>
			<tr>
				<td align="right">Website Sudgestions:</td>
				<td><a href="mailto:jack.sanchez@oit.edu" style="padding-left: 2em;">Jack Sanchez</a></td>
			</tr>
		</table>
	</div>
</div>
