@{
	ViewBag.Title = "Home Page";
}
<div class="row">
	<div class="col-md-4" style="height: 300px; border: ridge; border-color: azure; border-top-width: thin; border-left-width: thin; border-right-width: thin; border-bottom-width: 0px; fill-opacity: 1; fill: darkblue; color: whitesmoke;">
		<h2>Welcome!</h2>
		<p>
			Welcome to the Computer Systems Engineering Department website at the Oregon Institute of Technology!
			
			We appreciate that you have chosen to visit our departmental website and hope that you find what you are
			looking for. If you are currently a student within one of our programs
			<a href="/Home/ExtendedBlurb" style="font-size:larger;">...</a>
		</p>
		<p><a class="btn btn-primary hvr-shutter-out-vertical" style="color: #000020;" href="~/Home/ExtendedBlurb">Full Chair Blurb &raquo;</a></p>
	</div>
	<div class="col-md-4" style="height: 300px; border: ridge; border-color: azure; border-top-width: thin; border-left-width: thin; border-right-width: thin; border-bottom-width: 0px; fill-opacity: 1; fill: darkblue; color: whitesmoke;">
		<h2>CSET Feeds</h2>
		<p>Work-In Progress</p>
		<p>Intended to bring in RSS feeds from CSET blog and Facebook groups...</p>
	</div>
	<div class="col-md-4" style="height: 300px; border: ridge; border-color: azure; border-top-width: thin; border-left-width: thin; border-right-width: thin; border-bottom-width: 0px; fill-opacity: 1; fill: darkblue; color: whitesmoke;">
		<h2>Tech News Feed</h2>
		<p>Work-In Progress</p>
		<p>Intended to bring in RSS news from popular tech blogs, such as Engadget, TechCrunch, Gizmodo, etc...</p>
	</div>
</div>